@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.card {
  @apply border border-gray-200 rounded-lg border-opacity-20 mx-2 py-7 shadow-lg;
}

.popup-transition {
  @apply hover:bg-gray-800 hover:text-gray-50;
}